@model  CodingApp.Models.InputOutput

@{
    ViewData["Title"] = "Decoding";
}

<h1>Decoding</h1>


<form asp-action="Decoding" method="post">
    <div class="form-group row">
        <label class="align-self-auto col-form-label" asp-for="Input">palavra a descodificar:</label>
        <div class="col-sm-10">
         <input asp-for="Input" />
         <button class="btn btn-primary text-white" type="submit">Descodificar</button>
        </div>
      </div>  
    <hr />
    <div class="form-group row" >Palavra descodificada = <span class="col-sm-2 col-form-label">@Model.Output</span> </div>
    


</form>

