@model CodingApp.Models.InputOutput

@{
    ViewData["Title"] = "Encoding";
}

<h1>Encoding</h1>

<form asp-action="Encoding" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input">palavra a codificar:</label>
        <div class="col-sm-10">
            <input asp-for="Input" />
            <button class="btn btn-primary text-white" type="submit">Codificar</button>
        </div>
    </div>
    <hr />
    <div class="form-group row">Palavra codificada = <span class="col-sm-2 col-form-label">@Model.Output</span> </div>



</form>


