@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Coding</h3>
</div>


<div class="col-md-12 text-center">
<button class="btn btn-primary"> 
    <a class="text-white" asp-action="Encoding">Encoding</a>
</button>

<button class="btn btn-success">
    <a class="text-white" asp-action="Decoding">Decoding</a>
</button>
</div>



